.NavFrag {
    display: flex;
    background-color: rgb(37, 37, 37);
    padding: 0, 2em;
    gap: 3rem;
    align-items: stretch;
    justify-content: space-between;
}

.NavFrag h2 {
    color: #ffffff;
    font-size: 3.5rem;
}

.NavFrag a {
    color: #b1d6ff;
    text-decoration: none;    
    height: 100%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

.NavFrag ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 3rem;
}

.NavFrag li {
    font-size: 1.5em;
}

.NavFrag li:last-child {
    margin-right: 2em;
}

.NavFrag li:hover {
    background-color: #7c7c7c;
}


