.mapas-container {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}
  
.mapas-title {
    font-size: 4em;
    margin-bottom: 1em;
}
  
.mapas-message {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
}
  
.positive {
    background-color: #c4e4c4;
    color: #177717;
}
  
.negative {
    background-color: #ffc7c7;
    color: #2c2828;
}
